
.contact {
  display: flex;
  flex: wrap;
  align-content: space-evenly;
  background-color: var(--background-color);
}
.contact-box {
  flex: 1;
}
.contact .contact-box:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  text-align: start;
  padding-left: 3rem;
}
.contact .contact-box:first-child h2 {
  color: var(--h--color);
  font-family: "Fugaz One", sans-serif;
}
.contact .contact-box:first-child p {
  font-family: "Amarante", serif;
  color: var(--p--color);
}
.contact .contact-box:first-child a {
  font-family: "Amarante", serif;
  text-decoration: none;
  color: var(--p--color);
}

.c-box-two {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.email,
.callus,
.location {
   background-color: hwb(0 14% 84% / 0.252);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1em;
}
.email > a:first-child,
.callus > a:first-child,
.location > a:first-child {
  margin-right: 1rem;
}
.email h4,
.callus h4,
.location h4 {
  color: var(--h--color);
  font-family: "Fugaz One", sans-serif;
  font-weight: 500;
}
a i {
  color: var(--btn-bg);
  font-size: 1.4em;
}
.email > a:last-child,
.callus > a:last-child,
.location > a:last-child {
  margin-left: auto;
}
.contact .contact-box:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box form{
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1em;
  gap: 0.5rem;
   background-color: hwb(0 14% 84% / 0.314);
}
.contact-box form input, .contact-box form textarea{
  border-radius: inherit;
  padding: 1rem;
  outline: none;
  border: none;
   font-family: "Amarante", serif; 
  background: transparent;
  border: 1px solid #c7322b;
  color: #ededea;

}
.contact-box form textarea{
  width: 100%;
  height: 100%;

}
