

 .gallery{
    color: var(--h--color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2em;
    font-family: "Fugaz One", sans-serif;
    
 }
.gallery-photo{

    display: flex;
  
    flex-wrap: wrap;
    gap: 1rem;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
   border: 2px solid var(--border);
   border-radius: 1em;
}
 .gallery-photo img{
    width: 200px;
    height:auto;
    border-radius: 20px;
}