header{
    background:var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1{
    font-family: "Fugaz One", sans-serif;
    color: var(--h--color);
}
header ul{
    display: flex;
    gap: 2rem;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    font-family: "Amarante", serif; 
    font-size: 1.2em;
    font-weight: 600;
    color: var(--h--color);
}
header ul li a:hover{
    color:#ededeab8 ;
}
